## Send Message Response Mapping Template
## Returns the created message or handles errors appropriately

#if($ctx.error)
    $util.error($ctx.error.message, $ctx.error.type)
#end

## Return the created message
$util.toJson($ctx.result)