## Update User Presence Response Mapping Template
## Returns the updated user presence information

#if($ctx.error)
    $util.error($ctx.error.message, $ctx.error.type)
#end

## Return the updated user data
$util.toJson($ctx.result)