## {{ category.emoji }} {{ category.name }}

*{{ category.description }}*

{% for recipe in category.recipes %}
- **[{{ recipe.title }}]({{ recipe.relative_path }})** - {% 
set difficulty_colors = {
    'Beginner': 'brightgreen',
    'Intermediate': 'yellow', 
    'Advanced': 'orange',
    'Expert': 'red'
} -%}
![{{ recipe.difficulty_name }}](https://img.shields.io/badge/{{ recipe.difficulty_name }}-{{ difficulty_colors.get(recipe.difficulty_name, 'lightgrey') }}) {% 
set provider_colors = {
    'aws': 'FF9900',
    'azure': '0078D4',
    'gcp': '4285F4'
} -%}
![{{ recipe.provider_display }}](https://img.shields.io/badge/{{ recipe.provider_display.replace(' ', '%20') }}-{{ provider_colors.get(recipe.provider, 'blue') }}) 
  {% if recipe.services %}<br>*Services: {{ recipe.services[:4]|join(', ') }}{% if recipe.services|length > 4 %}, +{{ recipe.services|length - 4 }} more{% endif %}*{% endif %} {% if recipe.estimated_time %}• ⏱️ {{ recipe.estimated_time }}{% endif %}

{% endfor %}